.animate-marquee{
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.testimonial-swiper{
    padding: 20px 0;
}
.testimonial-swiper .swiper-slider{
    height: auto;
}

.testimonial-swiper .swiper-slider-next::after,
.testimonial-swiper .swiper-slider-prev::after{
    display: none;
}

.swiper-slider-next, .swiper-slider-prev {
    display: none;
}
.swiper-button-next-custom.swiper-button-disabled,
.swiper-button-prev-custom.swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}